{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photogur</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header>
        <h1><a href="/pictures">Photogur</a></h1>
        <form action="{% url 'picture_search' %}", method="get">
        <label for="picture-search">
            <span>Search</span>
            <input type="search" id="picture-search" name="query"/>
        </label>
        <input type="submit" value="Search">
        </form>
        {% if request.user.is_authenticated %}
            <h3><a href="/logout">Logout</a></h3>
        {% else %}
            <h3><a href="/login">Login</a></h3>
            <h3><a href="/pictures/upload">Upload Picture</a></h3>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>Copyright Stanley Sham</footer>
</body>
</html>